<?xml version="1.0"?>
<launch>
	<node name="cubic_spline_path_node" pkg="cubic_spline_path" type="cubic_spline_path_node" output="screen">
		<param name="waypoint_filename" value="$(find cubic_spline_path)/param/waypoint.yaml"/>
	</node>
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find cubic_spline_path)/rviz/rviz.rviz"/>
</launch>
